@model List<object>
@{
    Layout = null;
}
Map Index
@Model.Count
@{
    var list = Model;
}

<h1>List @list.Count</h1>
<h2>Name: @ViewData["name"]</h2>
<h3>Bag: @ViewBag.Sum</h3>
<ul>
    @foreach(var item in list)
    {
        <li>@item</li>
    }
</ul>