@model ToDoItem
@{
    Layout = null;
}
<h1>ToDo Save</h1>

@using (Html.BeginForm("Save", "Todo"))
{
    <input type="text" name="Title" value="@Model.Title"/>
    @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.TextBoxFor(model => model.Title)

    <input type="submit" value="Save"/>
}

@ViewBag.Vasya

<p>@Html.ActionLink("Cancel", "ToDoIndex")</p>